<section class="container-lg pt-3 px-3">

  <p id="notice"><%= notice %></p>

  <h1>Items List</h1>

  <div class="item-list row pt-5 text-color">
    <div class="col-12 d-flex fw-bolder justify-content-between">
        <p class="flex2">#</p>
        <p class="flex3">Name</p>
        <p class="d-none d-sm-block flex2">Tags</p>
      <p class="flex2">Price</p>
      <p class="d-none d-sm-block flex2">Dollar Equiv.</p>
      <!-- <p>Status</p> -->
      <p class="flex2">#</p>
    </div>
  </div>

  <div class="item-list row text-white">

    <% @items.each do |item| %>
      <div style="background-color: #141E27;" class="p-1 mb-2 d-flex align-items-center rounded">
        <div class="flex2">
          <%= image_tag item.image_url, class: "img-thumbnail img-fluid me-2", 'width': "50px", 'alt': "..." %>
        </div>                
        <div class="flex3">
          <p class="fw-bolder m-0"><%= item.name %></p>                    
        </div>
        <div class="d-none d-sm-block flex2">
          <span class="badge bg-secondary">Edibles</span>
          <span class="badge bg-secondary">Candy</span>
        </div>
        <p class="m-0 flex2">&#8358;<%= item.prices.last.amount %></p>
        <p class="d-none d-sm-block m-0 flex2">$0.048</p>
        <%= link_to 'View', item_path(item), class: "btn btn-primary text-white btn-sm flex2" %>
      </div>
    <% end %>

  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Price</th>   
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td>NGN<%= item.prices.last.amount %></td>
          <td><%= link_to 'Past Prices', item_prices_path(item) %></td>
          <td><%= link_to 'Show', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Item', new_item_path %> 
</section>